<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>首页</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet/less" type="text/css" href="css/style.less">
<script src="js/less.js" type="text/javascript"></script>
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/underscore.js" type="text/javascript"></script>

<script src="js/background.js" type="text/javascript"></script>

<script src="js/games.js" type="text/javascript"></script>
<script src="js/apps.js" type="text/javascript"></script>
<script src="js/q1.js" type="text/javascript"></script>
<script src="js/questionnaire.js" type="text/javascript"></script>
</head>
<body>
	<div class="header">
		<div class="banner"></div>
	</div>
	<div class="content">
		<div class="background"></div>
		<div class="background-mask"></div>
		<div class="container">
			<div class="questionnaire">
				<div class="slide start faraway">
					<h2>Aloha~ 你在找什么呢？</h2>
					<div>
						<div class="entrance" data-catagory='0'>
							<div class="icon games"></div>
							<h3>游戏</h3>
						</div>
						<div class="entrance" data-catagory='1'>
							<div class="icon apps"></div>
							<h3>应用</h3>
						</div>
					</div>
					<div class="tip"></div>
				</div>
			</div>
		</div>
		<div class="progress">
			<div class="bar">
				<div class="mask"><img src="img/progress.gif" /></div>
			</div>
		</div>
		<div class="footer"></div>
	</div>
<script type="text/template" id="template-question">
	<% if (question.type == 1) { %>
				<div class="slide cls1">
					<div>
						<div class="option" data-tag="<%= question.filter[0][0] %>" data-filter="<%= question.filter[0][1] %>">
							<img src="<%= question.options[0] %>" />
						</div>
						<div class="separator">&amp;</div>
						<div class="option" data-tag="<%= question.filter[1][0] %>" data-filter="<%= question.filter[1][1] %>">
							<img src="<%= question.options[1] %>" />
						</div>
					</div>
					<h2><%= question.text %></h2>
	<% } else { %>
				<div class="slide cls2">
					<h2><%= question.text %></h2>
					<div class="options">
						<% _.each(question.options, function(option, idx) { %>
						<div class="option" data-tag="<%= question.filter[idx][0] %>" data-filter="<%= question.filter[idx][1] %>"><%= option %></div>
						<% }); %>
					</div>
	<% } %>
				</div>
</script>
<script type="text/template" id="template-result">
				<div class="slide result faraway">
					<h2>大功告成，最适合你的一款已经找到了，就在下面这三个里啦。你能猜到是哪一个么？</h2>
					<div class="options">
						<% _.each(apps, function(app) { %>
						<div class="app">
							<div class="icon">
								<img src="<%= app.img_url %>" />
							</div>
							<h3><%= app.name %></h3>
							<div class="desc"><%= app.description %></div>
							<div class="install"><a href="<%= app.download_url %>"></a></div>
						</div>
						<% }); %>
					</div>
				</div>
</script>
<script type="text/javascript">
$(function() {
	Questionnaire.initialize();
});
</script>
</body>
</html>
