// site common styles
@import "site/site.less";

body {
	background: rgb(0,13,17);
}

.content {
	width: @pageWidth;
	margin: 90px auto 0;
	padding-bottom: 10px;
	overflow: visible;
	position: relative;
}
.header {
	.size(200px, 100%);
	.opacity(60);

	.banner {
		width: @pageWidth;
		margin: 0 auto;
	}
}
.container {
	width: 100%;
	box-sizing: border-box;
	border-radius: 50px;
	padding: 0px 30px;
	margin-top: 15px;
	color: white;
	position: relative;
	z-index:10;
}
.progress {
	margin-top: 15px;

	.bar {
		@height: 10px;
		@width: 600px;
		.size(@height, @width);
		margin: 0 auto;
		background-color: #111;

		.mask {
			.size(10px, 0%);
			float: left;
			overflow: hidden;
			.border-radius(10px);
			.background-clip(border-box);
		}

		img {
			.size(@height, @width + 80px);
			position: relative;
			top: -5px;
			left: -40px;
		}
	}
}
.footer {
	width: @pageWidth;
	margin: 0 auto;
}

.questionnaire {
	padding: 20px 40px 0px;
	min-height: 470px;
	position: relative;
	//overflow: hidden;
	-webkit-perspective: 600px;
	overflow: hidden;
	.icon, .option {
		&:hover {
			.box-shadow(0 0 20px -2px #ff9);
			.border-radius()
		}
	}

	.slide {
		//.size(100%, 100%);
		.size(390px, 600px);
		box-sizing: border-box;
		position: absolute;
		opacity: 0;
		overflow: hidden;
		top: 50px;
		left: 50px;
		-webkit-transition: all 0.8s;
		-webkit-transform: scale(0.7);

		h2 { font-weight: bold; }
		.option, .entrance {
			cursor: pointer;
		}

		&.faraway {
			-webkit-transform: scale(0.5);
			-webkit-transition: all 2s;
		}
		&.present, &.faraway.present {
			-webkit-transform: scale(1);
			opacity: 1;
		}
		&.present.fadingout, &.faraway.present.fadingout {
			-webkit-transform: scale(10);
			opacity: 0;
			-webkit-transition: all 0.8s;
		}
		&.start {
			h2 { padding: 0 0 0 30px; margin-bottom: 10px; font-size: 36px; }

			.entrance {
				float: left;
				width: 50%;
				font-size: 30px;
				box-sizing: border-box;
				text-align: center;

				.icon {
					.square(250px);
					margin: 20px auto;
					border-radius: 10px;
				}
				.icon.games { background-image: url("../img/enter_games_250.png"); }
				.icon.apps { background-image: url("../img/enter_apps_250.png"); margin-left: 20px;  }
			}
		}
		&.cls1 {
			h2 { text-align: center; padding: 30px 0 0; }

			.option {
				float: left;
				width: 45%;
				height: 270px;
				border-radius: 20px;
				overflow: hidden;
				margin: 5px;

				img {
					.size(100%, 100%);
				}
			}
			.separator {
				float: left;
				width: 40px;
				text-align: center;
				padding: 140px 0 0;
				font-size: 44px;
			}
		}
		&.cls2 {
			padding: 50px;
			margin-top: 70px;

			h2 { text-align: left; }

			.options {
				margin: 20px 0;
				padding: 0 80px;
			}
			.option {
				margin: 20px 5px;
				padding: 0 0 0 30px;
				background: transparent url("../img/dot_white_20.png") 0 0px no-repeat;
				font-size: 20px;
			}
		}
		&.result {
			.options {
				margin-top: 30px;
			}
			.app {
				float: left;
				border-radius: 10px;
				box-sizing: border-box;
				background: rgba(255,255,255,1);
				box-shadow: 0px 3px 10px rgba(0,0,0,.7);
				.size(260px, 180px);
				margin-right: 20px;
				padding: 16px;
				color: rgb(0,13,17);

				h3 {
					font-size: 18px;
					font-weight: bold;
					padding: 10px 2px;
					color: #444;
				}
				.icon {
					padding: 5px;
					margin: 0 auto;
					border: 1px solid #d7d7d7;
					background: #ededed;
					border-radius: 2px;
					overflow: visible;
					.square(72px);

					img { .square(72px); }
				}
				.desc {
					font-size: 13px;
					.size(58px, 100%);
					text-overflow: clip;
				}
				.install {
					.size(30px, 101px);
					margin: 10px auto 0;
					background: transparent url("../img/install_button.png") no-repeat 0 0;

					&:hover { background-position-y: -30px; }
					&:active { background-position-y: -60px; }
					a {
						display: block;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}

.background {
	width: 732px;
	background: rgb(0,13,17);
	padding: 1px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.2;
	margin-left: 10px;
	.icon {
		float: left;
		width: 63px;
		height: 63px;
		margin: -1px;
		position: relative;
		overflow: hidden;
		
		-webkit-perspective: 600px;
		-moz-perspective: 600px;
		.front {
			position: absolute;
			top: 0;
			left: 0;
			padding: 6px 6px 4px;
			z-index: 900;

			-webkit-transform: rotateX(0deg) rotateY(0deg);
			-webkit-transform-style: preserve-3d;
			-webkit-backface-visibility: hidden;
			-webkit-transition: all .4s ease-in-out;
			border: 1px solid #ccc;
		}
		.back {
			border: 1px solid #ccc;
			position: absolute;
			top: 0;
			left: 0;
			padding: 6px 6px 4px;
			z-index: 800;
			-webkit-transform: rotateX(-180deg);
			-webkit-transform-style: preserve-3d;
			-webkit-backface-visibility: hidden;
			-webkit-transition: all .4s ease-in-out;
		}
		&.flip {
			.front {
				-webkit-transform: rotateX(180deg);
			}
			.back {
				z-index: 1000;
				-webkit-transform: rotateX(0deg) rotateX(0deg);
			}
		}
	}
}
#roundhand {
	-webkit-transition: all .2s ease-in-out;
	z-index: 5;
	width: 382px;
	height: 420px;
	position: absolute;
	top: -200px;
	left: -50px;
	background: transparent url("../img/roundhand.png") left top no-repeat;
}
.background-mask {
	margin-left: 10px;
	width: 734px;
	height: 600px;
	position: absolute;
	top: -80px;
	left: 0;
	z-index: 10;
	opacity:0.6;
	background: transparent url("../img/bgmask.png") center top no-repeat;
}

#back-to-start {
	display: block;
	height: 20px;
	background: transparent url("../img/back.png") left top no-repeat;
	text-indent: 22px;
	color: #fff;
	text-decoration: none;
	z-index: 15;
	position: absolute;
	top: -20px;
	right: 25px;
}

